:root {
    --main-color: #51B56D;
    --bg-color: #e0f2e5;
    --sky-light: #03A9F4;
    --sky-dark:#248be5f2;
    --dark-light: #80898f;
    --fa-hover: #51b56d8f;
    --linear-btn: linear-gradient(90deg, #37ff6f, #0eae3b);
}

.color-switcher {
    transition: all .4s;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0px 4px 12px rgba(21,44,92,.07);
    left: -189px;
    position: fixed;
    border-bottom-right-radius: 5px;
    top: 26%;
    width: 189px;
    z-index: 999;
    padding: 10px 5px;    
}
.color-switcher.active{
    left: 0px;
} 

.color-switcher h3{
    font-size: 17px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3333;
    padding: 5px 0;
    text-align: center;
}
.color-switcher .switcher-btn{
    background: #343a40;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: -45px;
    top: 0;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.color-switcher .switcher-btn i {
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.color-switcher .theme-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-switcher .theme-buttons-container .theme-buttons{
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
}